input/*
outputs/*
profile/GSM8K/data/*
profile/GSM8K/outputs/*
profile/GSM8K/scripts/dev/*
profile/MMLU/raw_data/*
profile/MMLU/data/*
profile/MMLU/outputs/*
profile/MMLU/scripts/dev/*
profile/MT-Bench/data/*
profile/MT-Bench/outputs/*
profile/MT-Bench/scripts/dev/*
raw_input/*
.vscode/*
*.pyc
*.xlsx
*.vsdx
*.tar.gz
*.csv
*.env